body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.navigation{
  height: 70px;
  background: #FD8473;
  width: 100%;
  display: flex;
}
.float-right{
  margin-left: auto;
}
.navigation-link{
  text-decoration: none;
  line-height: 70px;
  padding: 0 30px;
  color: white;
}
.navigation-link:hover{
  color: #E7CE7C;
}
.logout-button{
  text-decoration: none;
  line-height: 70px;
  padding: 0 30px;
  color: white;
  background: transparent;
  border: none;
  text-align: left;
}


@media (max-width: 576px){
    body{
      font-size: 0.9rem;
    }
    .navigation{
      flex-direction: column;
      height: auto;
  }   
}


