#all-quiz-card-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-quiz-card{
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 10px 0;
}
.links{
    text-decoration: none;
    color: #572790;
}
.links:hover{
    color: #EC379E;
}
